{% extends "entrypoint.common.manifest.template" %}

{% block loader %}
loader.env.LD_LIBRARY_PATH = "/gramine/meson_build_output/lib64/gramine/runtime/glibc:/usr/lib64:{{"{{library_paths}}"}}"
{% endblock %}
