#!/usr/bin/env bash

{% if buildtype != "release" %}
set -x
{% endif %}
set -e

# Export distro-specific paths (typically `PYTHONPATH` and `PKG_CONFIG_PATH`)
{% block path %}{% endblock %}

# Note: default to SGX if Gramine binary wasn't specified
exec ${GRAMINE_BINARY:-gramine-sgx} /gramine/app_files/entrypoint \
    {% if insecure_args %}{{ binary_arguments | map('shlex_quote') | join(' ') }} \
    "${@}"{% endif %}
