{%- macro python_path() -%}
{% if 'debian' in Distro or 'ubuntu' in Distro %}export PYTHONPATH="${PYTHONPATH}:$(find /gramine/meson_build_output/lib -type d -path '*/site-packages')" {% else %}export PYTHONPATH="${PYTHONPATH}:$(find /gramine/meson_build_output/lib64 -type d -path '*/site-packages')"{% endif %}
{%- endmacro -%}
