{%- macro python_path(distro) -%}
{% if 'debian' in distro or 'ubuntu' in distro %}export PYTHONPATH="${PYTHONPATH}:$(find /gramine/meson_build_output/lib -type d -path '*/site-packages')" {% else %}export PYTHONPATH="${PYTHONPATH}:$(find /gramine/meson_build_output/lib64 -type d -path '*/site-packages')"{% endif %}
{%- endmacro -%}